# ─────────────────────────────────────────────────────────────
# Appium / Android Configuration
# ─────────────────────────────────────────────────────────────

APP_PACKAGE=com.adamarbain.dengueeyemobileapp
APP_ACTIVITY=com.adamarbain.dengueeyemobileapp.MainActivity

APPIUM_SERVER=http://127.0.0.1:4723

ANDROID_DEVICE_NAME=Android Emulator
ANDROID_PLATFORM_VERSION=11.0


# ─────────────────────────────────────────────────────────────
# Mobile Test Account
# ─────────────────────────────────────────────────────────────

MOBILE_TEST_EMAIL=
MOBILE_TEST_PASSWORD=